@font-face {
    font-family: 'Drina';
    src: url('Drina.eot');
    src: local('Drina'),
        url('Drina.eot?#iefix') format('embedded-opentype'),
        url('Drina.woff2') format('woff2'),
        url('Drina.woff') format('woff'),
        url('Drina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

